/*CABECERA*/
.fondo-cabecera{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,140,168,1) 66%);
}

.cabecera .img-avatar{
  width: 15rem;
}

.cabecera{
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}

.cabecera .titulo-cabecera {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.cabecera .subtitulo-cabecera {
  font-size: 1.25rem;
}

/*DIVISOR DE TITULOS PRINCIPALES*/
.divisor {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divisor .linea-divisora {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divisor .linea-divisora:first-child {
  margin-right: 1rem;
}
.divisor .linea-divisora:last-child {
  margin-left: 1rem;
}
.divisor .linea-divisora-icono {
  color: #2c3e50;
  font-size: 2rem;
}
.divisor.color-divisor .linea-divisora {
  background-color: #fff;
}
.divisor.color-divisor .linea-divisora-icono {
  color: #fff;
}


/*FOOTER*/
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #07090a;
}

.btn-rrss {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}




/*RESPONSIVE*/

@media (min-width: 992px) {
  .cabecera {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .cabecera .titulo-cabecera {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .cabecera .subtitulo-cabecera {
    font-size: 1.5rem;
  }
}

