.nav-link:hover{
  color:rgba(0,140,168);
}

.navbar-brand{
  font-weight: 500;
  font-size: 30px;
}

/*CABECERA*/
.fondo-cabecera{
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,140,168,1) 66%);
}

.cabecera .img-avatar{
  width: 15rem;
}

.cabecera{
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}

.cabecera .titulo-cabecera {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.cabecera .subtitulo-cabecera {
  font-size: 1.25rem;
}

/*DIVISOR DE TITULOS PRINCIPALES*/
.divisor {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divisor .linea-divisora {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #212429;
  border-radius: 1rem;
  border-color: #212429;
}
.divisor .linea-divisora:first-child {
  margin-right: 1rem;
}
.divisor .linea-divisora:last-child {
  margin-left: 1rem;
}
.divisor .linea-divisora-icono {
  color: #212429;
  font-size: 2rem;
}
.divisor.color-divisor .linea-divisora {
  background-color: #fff;
}
.divisor.color-divisor .linea-divisora-icono {
  color: #fff;
}

/*FOOTER*/
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212429;
  color: #fff;
}

.copyright {
  background-color: #07090a;
}

.btn-rrss {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

/*SECCION EXPERIENCIA LABORAL*/
.seccion {
  padding: 6rem 0;
  font-size: 2.25rem;
  line-height: 2rem;
}

.texto-parrafo{
  font-size: 1.25rem;
  font-weight: 300;
  color: #212429;
}

.sombra{
  -webkit-box-shadow: 6px 6px 14px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 14px -7px rgba(0,0,0,0.75);
box-shadow: 6px 6px 14px -7px rgba(0,0,0,0.75);
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card2 {
  flex: 1;
  display: flex;
  height: 250px;
  background: linear-gradient(0deg, rgba(2,0,36) 0%, rgba(0,140,168) 66%);
}

.card-text{
  font-size: 15px;
  line-height:1.5;
  
}

/*flip card*/
.flip-card {
  background-color: transparent;
  width: 50%;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgb(59, 59, 59) 66%);
  color: rgb(255, 255, 255);
}

.flip-card-back {
  background: linear-gradient(0deg, rgb(5, 1, 88) 0%, rgb(1, 105, 126) 66%);
  color: white;
  transform: rotateY(180deg);
}

/*RESPONSIVE*/

@media (min-width: 992px) {
  .cabecera {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .cabecera .titulo-cabecera {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .cabecera .subtitulo-cabecera {
    font-size: 1.5rem;
  }

  .seccion{
    font-size: 3rem;
    line-height: 2.5rem;
  }


}

@media (min-width: 768px)
{
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  
  .card2 {
    flex: 1;
    display: flex;
    height: 300px;
  }
}